<!-- _area-detail.html -->
<!--
--Created by philr
--on 05/03/17
--Edited last by philr
--On 05/03/17
-->

<div class="row area-detail no-margin">

    <!--
        ==========
        Page Header
        ==========
                  -->

    <section class="bg-primarygrad text-center">
        <!-- Area Name -->
        <div class="page-header">
            <h1 class="no-margin">{{areaData.name}} </h1>
        </div>

        <!--Edit Area Modal-->
        <button ng-show="editButtonShowing"
                ng-click="fillForm()"
                class="btn btn-default"
                data-toggle="modal"
                data-target="#editModal">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Edit
        </button>
        <hr>

        <!-- Area Description-->
        <div class="detailsSection center-block">
            <div ng-show="areaData.ParentAreaName">
                <p>Part of:
                    <a ui-sref="areaDetail({ areaID: areaData.parentArea })">
                        {{ areaData.ParentAreaName }}
                    </a>
                </p>
            </div>
            <p>{{ areaData.description }}</p>
        </div>


        <!--Edit Area Modal-->
        <div id="editModal" class="modal fade"
             tabindex="-1"
             role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <!-- Close Cross Top Right-->
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div ng-include="'../views/_contribute-editArea.html'"></div>
                </div>
            </div>

        </div>

        <!--Toggle Editor Buttons-->
        <button ng-click="showEditControls()"
                ng-hide="editButtonShowing"
                class="btn btn-primary pull-right text-right "
                data-toggle="tooltip"
                title="Show Editor Controls">
            <i class="fa fa-terminal fa-2x" aria-hidden="true"></i>
        </button>
        <button ng-click="hideEditControls()"
                ng-show="editButtonShowing"
                class="btn btn-primary pull-right text-right "
                data-toggle="tooltip"
                title="Done Editing">
            <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
        </button>


    </section>

    <!--
        ==========
        Child Areas
        ==========
                  -->

    <!-- Title -->
    <div class="col-md-8 col-md-offset-2 text-center" ng-hide="!childAreas.length">
        <h2>Sub-Areas</h2>
        <hr>

        <!-- Loading Icon -->
        <!-- show loading icon if the loading variable is set to true -->
        <p class="text-center" ng-show="loading">
            <i class="fa fa-space-shuttle fa-5x fa-spin"></i>
        </p>

        <!-- Loop of Crags -->
        <div ng-repeat="area in childAreas">
            <a ui-sref="areaDetail({ areaID: {{area.id}} })">
                <h3>{{ area.name }}</h3>
            </a>
            <!--Commented for Partial Deployment-->
            <!--<button type="button" class="btn btn-primary" ng-click="deleteCrag(crag.id)">Delete</button>-->
        </div>

        <!-- If no crags -->
        <div ng-show="!childAreas.length">
            <p>This area has no sub-areas.</p>
        </div>
    </div>


    <!--
        ==========
      Crags in Area
        ==========
                  -->

    <!-- Title -->
    <div class="col-md-8 col-md-offset-2 text-center" ng-hide="!cragData.length">
        <h2>Crags</h2>
        <hr>

        <!-- Loading Icon -->
        <!-- show loading icon if the loading variable is set to true -->
        <p class="text-center" ng-show="loading">
            <i class="fa fa-space-shuttle fa-5x fa-spin"></i>
        </p>

        <!-- Loop of Crags -->
        <div ng-repeat="crag in cragData" ng-hide="loading">
            <a ui-sref="cragDetail({ cragID: {{crag.id}} })">
                <h3>{{ crag.name }}</h3>
            </a>
            <!--Commented for Partial Deployment-->
            <!--<button type="button" class="btn btn-primary" ng-click="deleteCrag(crag.id)">Delete</button>-->
        </div>

        <!-- If no crags -->
        <div ng-show="!cragData.length">
            <p>No crags are available.</p>
        </div>
    </div>
    <!--
        ==========
      Nothing Here??
        ==========
                  -->
    <div ng-show="!childAreas.length" class="col-md-8 col-md-offset-2 text-center">
        <div ng-show="!cragData.length">
            <h2>Uh Oh. There's nothing here!</h2>
            <p>Try looking somewhere else or <a href="../#contact">add something</a></p>
        </div>
    </div>

</div><!-- Row -->
