<!-- _areas-index.html -->
<!--
--Created by philr
--on 04/03/17
--Edited last by philr
--On 05/03/17
-->

<div class="row no-margin"  >
    <div class="col-md-4 col-md-offset-4 text-center ">

        <!-- Section Title -->
        <div class="page-header"
             id="top">
            <h2>Areas Index</h2>
        </div>
        <hr>

        <!-- Delete Success Message -->
        <div class="alert alert-success" ng-show="showMessage">
            <p>{{message}}</p>
        </div>

        <!-- Loading Icon -->
        <!-- show loading icon if the loading variable is set to true -->
        <p class="text-center" ng-show="loading">
            <i class="fa fa-space-shuttle fa-5x fa-spin"></i>
        </p>

        <!-- Areas -->
        <!-- hide these areas if the loading variable is true -->
        <div ng-hide="loading">
            <div ng-repeat="area in areasData" >

                <!-- Area Name. Link to Area Detail -->
                <a ui-sref="areaDetail({ areaID: {{area.id}} })">
                    <h3>{{ area.name }} </h3>
                </a>

                <p>Part of: {{ area.parentName }}</p>
                <!-- Commented for Deployment-->
                <!-- button type="button" class="btn btn-primary" ng-click="deleteArea(area.id)">Delete</button>-->

                <!-- Should show partial view finder.areas.detail -->
                <!--<div ui-sref="finder.areas.detail({ areaID: {{area.id}} })"></div>-->


                <!--ng-show="cragsData.length"-->

                <!--What this does is pretty magical
                It also doesnt work
                but it overwrites the crags on display for all areas lots. Its funny.-->
                <!--<div ng-init="getCrags(area.id)">
                    <p>Crags</p>
                    <div ng-repeat="crag in cragsData">
                        <a ui-sref="cragDetail({ cragID: {{crag.id}} })">
                            <p>{{ crag.name }} </p>
                        </a>

                    </div>
                </div>-->

                <!--<div ng-repeat="crag in CragsData | filter: {crag.area_id == {{area.id}} } ">
                    {{crag.name}}
                </div>-->


            </div>

            <!-- If no areas -->
            <div ng-show="!areasData.length">
                <p>No areas are available.</p>
            </div>
        </div>

    </div><!-- Boostrap Column -->
</div><!-- Row -->