<!-- _contribute-addClimb.html -->
<!--
--Created by philr
--on 08/03/17
--Edited last by philr
--On 06/04/17
-->
<div class="row no-margin">
    <div class="col-md-6 col-md-offset-3 text-center">
        <!-- show loading icon if the loading variable is set to true -->
        <p class="text-center" ng-show="loading">
            <i class="fa fa-space-shuttle fa-5x fa-spin"></i>
        </p>
        <div id="form-container" ng-hide="loading">


            <!-- Section Title -->
            <div class="page-header">
                <h2>Create New Climb</h2>
            </div>
            <hr>

            <!--WARNING MESSAGE-->
            <!--<div class="alert alert-danger text-center">
                Please be aware, any data you create is likely to be destroyed as Rock Advisor is still in development.
            </div>-->
            <div class="alert alert-info text-center">
                Improvements to the grade selection system are coming soon.
            </div>


            <!--Start of Form-->
            <form class="form-horizontal"
                  name="addClimbForm"
                  ng-submit="processClimbForm(addClimbForm.$valid)"
                  novalidate>

                <!--SELECT CRAG-->
                <div class="form-group"
                     ng-class="{ 'has-error' : addClimbForm.crag.$invalid && submitted}">
                    <label for="selectCrag" class="col-sm-2 control-label">Select Crag:</label>
                    <div class="col-sm-6">
                        <select name="crag"
                                class="form-control"
                                id="selectCrag"
                                ng-model="formData.crag"
                                ng-options="crag.id as crag.name for crag in cragsData"
                                ng-change="cragSelected()"
                                data-toggle="tooltip"
                                title="Select which crag this climb is at."
                                required>
                            <option value="">Select Crag</option>
                        </select>
                    </div>
                    <p ng-show="addClimbForm.crag.$invalid && submitted"
                       class="help-block">
                        Select the Crag that the Climb is on
                    </p>
                </div>


                <!--SELECT CLIMB GRADE-->
                <div class="form-group"
                     ng-class="{ 'has-error' : addClimbForm.grade.$invalid && submitted}">
                    <label for="selectGrade" class="col-sm-2 control-label">Select Grade:</label>
                    <!--<div class="col-sm-2">
                        <select name="grade"
                                class="form-control"
                                id="selectGrade"
                                ng-model="formData.grade"
                                ng-options="grade.id as grade.climbTypeSystem + ' ' + grade.climbTypeName + ' ' + grade.severityGrade + ' ' + grade.technicalGrade for grade in gradesData"
                                required>
                            <option value="">Select Grade</option>
                        </select>
                    </div>-->
                    <!--Grade Type Select-->
                    <div class="col-sm-4">
                        <select name="gradeType"
                                class="form-control"
                                id="selectGrade"
                                ng-model="filter.gradeType"
                                ng-change="gradeTypeSelected()"
                                ng-options="grade.climbTypeId as grade.climbTypeSystem + ' ' + grade.climbTypeName for grade in gradesData | unique:'climbTypeId'"
                                data-toggle="tooltip"
                                title="What type of climb is this?"
                                required>
                            <option value="">Grade Type</option>
                        </select>
                    </div>

                    <!--Sev Select -->
                    <!--Shows sev select box -->
                    <div class="col-sm-3">
                        <select name="grade"
                                ng-show="techAndSevSelect"
                                class="form-control"
                                ng-model="filter.severity"
                                ng-options="grade.severityGrade as grade.severityGrade for grade in gradesData | where:{ climbTypeId : filter.gradeType} | unique:'severityGrade' "
                                data-toggle="tooltip"
                                title="What is the severity grade for this climb?"
                                required>
                            <option value="">Sev Grade</option>
                        </select>
                    </div>

                    <!--Tech Select-->
                    <!--Shows tech select box ::filter.severity &&-->
                    <div class="col-sm-3">
                        <select name="grade"
                                ng-show=" techAndSevSelect"
                                class="form-control"
                                ng-model="formData.grade"
                                ng-options="grade.id as grade.technicalGrade for grade in gradesData | where:{ severityGrade : filter.severity }"
                                data-toggle="tooltip"
                                title="What is the technical grade for this climb?"
                                required>
                            <option value="">Tech Grade</option>
                        </select>
                    </div>

                    <!--Technical Only Select -->
                    <!--Shows just technical select box for grade types that don't have a sev grade-->
                    <div class="col-sm-3">
                        <select name="grade"
                                ng-show="technialOnlySelect"
                                class="form-control"
                                ng-model="formData.grade"
                                ng-options="grade.id as grade.technicalGrade for grade in gradesData | where:{ climbTypeId : filter.gradeType }"
                                data-toggle="tooltip"
                                title="What grade is this Climb?"
                                required>
                            <option value="">Select Grade</option>
                        </select>
                    </div>
                    <p ng-show="addClimbForm.grade.$invalid && submitted"
                       class="help-block">
                        Select the Grade of the Climb
                    </p>
                </div> <!--END OF GRADE SELECTION-->



                <!--CLIMB NAME-->
                <div class="form-group"
                     ng-class="{ 'has-error' : addClimbForm.climbName.$invalid && submitted}">
                    <label class="col-sm-2 control-label">Climb Name:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               name="climbName"
                               class="form-control"
                               ng-model="formData.climbName"
                               placeholder="Climb Name"
                               data-toggle="tooltip"
                               title="What is this climb called?"
                               required>
                    </div>
                    <p ng-show="addClimbForm.climbName.$invalid && submitted"
                       class="help-block">
                        A Climb must have a name.
                    </p>
                </div>

                <!--CLIMB DESCRIPTOIN-->
                <div class="form-group"
                     ng-class="{ 'has-error' : addClimbForm.climbDescription.$invalid && submitted}">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <textarea name="climbDescription"
                                  class="form-control"
                                  ng-model="formData.climbDescription"
                                  placeholder="Description"
                                  data-toggle="tooltip"
                                  title="How does this climb go?"
                                  required>
                        </textarea>
                    </div>
                    <p ng-show="addClimbForm.climbDescription.$invalid && submitted"
                       class="help-block">
                        Tell me something about this climb.
                    </p>
                </div>

                <!--LENGTH AND PITCHES-->
                <div class="form-group">

                    <div ng-class="{ 'has-error' : addClimbForm.length.$invalid && submitted}">
                        <label class="col-sm-2 control-label">Climb Length:</label>
                        <div class="col-sm-2">
                            <input type="number"
                                   min="1"
                                   name="length"
                                   class="form-control"
                                   ng-model="formData.length"
                                   placeholder="10m"
                                   data-toggle="tooltip"
                                   title="Enter the approximate length of this climb"
                                   required>
                        </div>
                    </div>
                    <div ng-class="{ 'has-error' : addClimbForm.pitches.$invalid && submitted}">
                        <label class="col-sm-2 col-md-offset-2 control-label">Number of Pitches:</label>
                        <div class="col-sm-2">
                            <input type="number"
                                   min="1"
                                   name="pitches"
                                   class="form-control"
                                   ng-model="formData.pitches"
                                   placeholder="1"
                                   data-toggle="tooltip"
                                   title="Roughly how many pitches is this climb?"
                                   required>
                        </div>
                    </div>
                </div>
                <!-- ERROR MESSAGES -->
                <div ng-class="{ 'has-error' : addClimbForm.pitches.$invalid || addClimbForm.length.$invalid && submitted}">
                    <p ng-show="addClimbForm.pitches.$invalid && submitted"
                       class="help-block">
                        Please enter the number of pitches.
                    </p>
                    <p ng-show="addClimbForm.length.$invalid && submitted"
                       class="help-block">
                        Please enter the length of the climb in metres.
                    </p>
                </div>

                <!--FIRST ASCENT-->
                <div class="form-group">

                    <div ng-class="{ 'has-error' : addClimbForm.firstAscent.$invalid && submitted}">
                        <label class="col-sm-2 control-label">First Ascent By:</label>
                        <div class="col-sm-4">
                            <input type="text"
                                   name="firstAscent"
                                   class="form-control"
                                   ng-model="formData.firstAscent"
                                   placeholder="Joe Bloggs"
                                   data-toggle="tooltip"
                                   title="Who climbed this first?"
                                   required>
                        </div>
                    </div>
                    <div ng-class="{ 'has-error' : addClimbForm.firstAscentDate.$invalid && submitted}">
                        <label class="col-sm-2 control-label">First Ascent On:</label>
                        <div class="col-sm-4">
                            <input type="text"
                                   min="1"
                                   name="firstAscentDate"
                                   class="form-control"
                                   ng-model="formData.firstAscentDate"
                                   ng-pattern="dateregex"
                                   placeholder="dd/mm/yyyy"
                                   data-toggle="tooltip"
                                   title="When was it first climbed? Enter 01/01/1980 if unknown"
                                   required>
                        </div>
                    </div>
                </div>
                <!--ERROR MESSAGES-->
                <div ng-class="{ 'has-error' : addClimbForm.firstAscent.$invalid || addClimbForm.firstAscentDate.$invalid && submitted}">
                    <p ng-show="addClimbForm.firstAscent.$invalid && submitted"
                       class="help-block">
                        Who sent this route first?
                    </p>
                    <p ng-show="addClimbForm.firstAscentDate.$invalid && submitted"
                       class="help-block">
                        When was it first climbed?
                    </p>
                </div>

                <!--TOPO-->
                <!--TOPO NUMBER-->


                <div class="form-group">

                    <!--FORM ERROR MESSAGE-->
                    <p id="formError"
                       class="text-center alert-danger"
                       ng-show="errorShowing">
                        Uh Oh! Something went wrong. Please check the form.
                    </p>

                    <!--SUMBIT BUTTON-->
                    <button type="submit"
                            class="btn btn-primary btn-success btn-lg center-block"
                            ng-hide="submitButtonHidden">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        &nbsp Done!
                    </button>

                    <!--FORM PROGRESS MESSAGE-->
                    <p id="formProgress"
                       class="text-center alert-info formMessage"
                       ng-show="progressMessageShowing">
                        Sending...
                    </p>

                    <!--FORM SUCCESS MESSAGE-->
                    <p class="text-center alert-success formMessage"
                       ng-show="resultShowing">
                        Success!
                    </p>
                </div>
            </form>
        </div>

        <!--DEBUGGING-->
        <!--<pre>
            {{ formData }}
        </pre>-->
    </div>

    <!--SHOW CLIMBS AT CRAG-->
    <div class="col-sm-3 align-bottom center-block" ng-show="showCurrentClimbs">
        <h4>Climbs at Crag</h4>
        <div ng-repeat="climb in climbsAtCrag">
            <p class="no-margin">{{ climb.name }}</p>
        </div>
    </div>
</div>