<!-- _contribute-addArea.html -->
<!--
--Created by philr
--on 08/03/17
--Edited last by philr
--On 08/03/17
-->

<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div id="form-container">

            <!-- Section Title -->
            <div class="page-header">
                <h2>Create New Area</h2>
            </div>
            <hr>
            <a ui-sref=".areas" class="btn btn-primary">Area List</a>

            <!--WARNING MESSAGE-->
            <div class="alert alert-danger text-center">
                Please be aware, any data you create is likely to be destroyed as Rock Advisor is still in development.
            </div>

            <!--Start of Form-->
            <form class="form-horizontal"
                  name="addAreaForm"
                  ng-submit="processAreaForm(addAreaForm.$valid)"
                  novalidate>

                <!--SELECT AREA-->
                <div class="form-group"
                     ng-class="{ 'has-error' : addAreaForm.parentArea.$invalid && !addAreaForm.parentArea.$pristine && submitted}">
                    <label for="selectArea" class="col-sm-2 control-label">Parent Area:</label>
                    <div class="col-sm-10">
                        <select name="parentArea"
                                class="form-control"
                                id="selectArea"
                                ng-model="formData.parentArea"
                                ng-options="area.id as area.name for area in areasData">
                            <option value="">Select Area</option>
                        </select>
                    </div>
                    <p ng-show="addAreaForm.parentArea.$invalid && !addAreaForm.parentArea.$pristine && submitted"
                       class="help-block">
                        Select the Area that this Area is part of.
                    </p>
                </div>

                <!--AREA NAME-->
                <div class="form-group"
                     ng-class="{ 'has-error' : addAreaForm.areaName.$invalid && !addAreaForm.areaName.$pristine && submitted}">
                    <label class="col-sm-2 control-label">Area Name:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               name="areaName"
                               class="form-control"
                               ng-model="formData.areaName"
                               placeholder="Area Name"
                               required>
                    </div>
                    <p ng-show="addAreaForm.areaName.$invalid && !addAreaForm.areaName.$pristine && submitted"
                       class="help-block">
                        An area must have a name.
                    </p>
                </div>

                <!--AREA DESCRIPTOIN-->
                <div class="form-group"
                     ng-class="{ 'has-error' : addAreaForm.areaDescription.$invalid && !addAreaForm.areaDescription.$pristine && submitted}">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <textarea name="areaDescription"
                                  class="form-control"
                                  ng-model="formData.areaDescription"
                                  placeholder="Description"
                                  required>
                        </textarea>
                    </div>
                    <p ng-show="addAreaForm.areaDescription.$invalid && !addAreaForm.areaDescription.$pristine && submitted"
                       class="help-block">
                        Tell me something about this area.
                    </p>
                </div>

                <div class="form-group">

                    <!--FORM ERROR MESSAGE-->
                    <p id="formError"
                       class="text-center alert-danger"
                       ng-show="errorShowing">
                        Uh Oh! Something went wrong. Please check the form.
                    </p>

                    <!--SUMBIT BUTTON-->
                    <button type="submit"
                            class="btn btn-primary btn-success btn-lg center-block"
                            ng-hide="submitButtonHidden"
                            ng-disabled="submitDisabled"
                            ng-click="disableButton()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        &nbsp Done!
                    </button>

                    <!--FORM PROGRESS MESSAGE-->
                    <p id="formProgress"
                       class="text-center alert-info"
                       ng-show="progressMessageShowing"
                       style="padding: 15px; margin-left: 150px; margin-right: 150px;">
                        Sending...
                    </p>

                    <!--FORM SUCCESS MESSAGE-->
                    <p class="text-center alert-success"
                       ng-show="resultShowing"
                       style="padding: 15px; margin-left: 150px; margin-right: 150px;">
                        Success!
                    </p>
                </div>
            </form>
        </div>

        <!--DEBUGGING-->
        <pre>
            {{ formData }}
        </pre>
    </div>
</div>