<!-- contribute-header.html -->
<!--
--Created by philr
--on 08/03/17
--Edited last by philr
--On 08/03/17
-->

<!--
    ==========
    Page Header
    ==========
              -->
<section class="finder-header text-center">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Rock Advisor</h1>
            <hr>
            <h4>Time to build something amazing</h4>
        </div>
        <div class="about-buttons">
            <a ui-sref=".addArea" class="btn btn-primary">Add Area</a>
            <a ui-sref=".addCrag" class="btn btn-primary">Add Crag</a>
            <a ui-sref=".addClimb" class="btn btn-primary">Add Climb</a>
        </div>
    </div>
</section>
<!--
    ==========
  Angular Content
    ==========
              -->
<div ui-view></div>
