<!-- _contribute-addClimb.html -->
<!--
--Created by philr
--on 08/03/17
--Edited last by philr
--On 08/03/17
-->
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div id="form-container">

            <!-- Section Title -->
            <div class="page-header">
                <h2>Create New Climb</h2>
            </div>
            <hr>

            <!--WARNING MESSAGE-->
            <div class="alert alert-danger text-center">
                Please be aware, any data you create is likely to be destroyed as Rock Advisor is still in development.
            </div>

            <!--Start of Form-->
            <form class="form-horizontal"
                  name="addClimbForm"
                  ng-submit="processClimbForm(addClimbForm.$valid)"
                  novalidate>

                <!--SELECT CLIMB TYPE-->
                <!--SELECT CLIMB SYSTEM-->
                <!--SELECT CLIMB GRADE-->


                <!--SELECT CRAG-->
                <div class="form-group"
                     ng-class="{ 'has-error' : addClimbForm.crag.$invalid && !addClimbForm.crag.$pristine && submitted}">
                    <label for="selectCrag" class="col-sm-2 control-label">Select Crag:</label>
                    <div class="col-sm-10">
                        <select name="crag"
                                class="form-control"
                                id="selectCrag"
                                ng-model="formData.crag"
                                ng-options="crag.id as crag.name for crag in cragsData"
                                required>
                            <option value="">Select Crag</option>
                        </select>
                    </div>
                    <p ng-show="addClimbForm.crag.$invalid && !addClimbForm.crag.$pristine && submitted"
                       class="help-block">
                        Select the Crag that the Climb is on
                    </p>
                </div>

                <!--CLIMB NAME-->
                <div class="form-group"
                     ng-class="{ 'has-error' : addClimbForm.climbName.$invalid && !addClimbForm.climbName.$pristine && submitted}">
                    <label class="col-sm-2 control-label">Climb Name:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               name="climbName"
                               class="form-control"
                               ng-model="formData.climbName"
                               placeholder="Climb Name"
                               required>
                    </div>
                    <p ng-show="addClimbForm.climbName.$invalid && !addClimbForm.climbName.$pristine && submitted"
                       class="help-block">
                        A Climb must have a name.
                    </p>
                </div>

                <!--CLIMB DESCRIPTOIN-->
                <div class="form-group"
                     ng-class="{ 'has-error' : addClimbForm.climbDescription.$invalid && !addClimbForm.climbDescription.$pristine && submitted}">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <textarea name="climbDescription"
                                  class="form-control"
                                  ng-model="formData.climbDescription"
                                  placeholder="Description"
                                  required>
                        </textarea>
                    </div>
                    <p ng-show="addClimbForm.climbDescription.$invalid && !addClimbForm.climbDescription.$pristine && submitted"
                       class="help-block">
                        Tell me something about this climb.
                    </p>
                </div>

                <!--OTHER DETAILS-->
                <div class="form-group">

                    <div ng-class="{ 'has-error' : addClimbForm.length.$invalid && !addClimbForm.length.$pristine && submitted}">
                        <label class="col-sm-2 control-label">Climb Length:</label>
                        <div class="col-sm-3">
                            <input type="number"
                                   name="length"
                                   class="form-control"
                                   ng-model="formData.length"
                                   placeholder="Length in metres"
                                   required>
                        </div>
                    </div>
                    <p ng-show="addClimbForm.length.$invalid && !addClimbForm.length.$pristine && submitted"
                       class="help-block">
                        Please enter the length of the climb in metres.
                    </p>
                </div>


                <div class="form-group">

                    <!--FORM ERROR MESSAGE-->
                    <p id="formError"
                       class="text-center bg-danger"
                       ng-show="errorShowing">
                        Uh Oh! Something went wrong. Please check the form.
                    </p>

                    <!--SUMBIT BUTTON-->
                    <button type="submit"
                            class="btn btn-primary btn-success btn-lg center-block"
                            ng-hide="submitButtonHidden">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        &nbsp Done!
                    </button>

                    <!--FORM PROGRESS MESSAGE-->
                    <p id="formProgress"
                       class="text-center"
                       ng-show="progressMessageShowing">
                        Sending...
                    </p>

                    <!--FORM SUCCESS MESSAGE-->
                    <p class="text-center bg-success"
                       ng-show="resultShowing"
                       style="padding: 15px; margin: 0;">
                        Success!
                    </p>
                </div>
            </form>
        </div>

        <!--DEBUGGING-->
        <pre>
            {{ formData }}
        </pre>
    </div>
</div>