<!-- _contribute-addCrag.html -->
<!--
--Created by philr
--on 08/03/17
--Edited last by philr
--On 08/03/17
-->
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div id="form-container">

            <!-- Section Title -->
            <div class="page-header">
                <h2>Create New Crag</h2>
            </div>
            <hr>
            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form id="addCragForm"
                  class="form-horizontal"
                  name="addCragForm"
                  ng-submit="processForm()">
                <!-- our nested state views can be injected here -->
                <!--<div id="form-views" ui-view></div>-->
                <div class="form-group"
                     ng-class="{ 'has-error' : contributeForm.formName.$invalid && !contributeForm.formName.$pristine && submitted}">
                    <label>Name</label>
                    <input type="text"
                           name="formName"
                           class="form-control"
                           ng-model="formData.formName"
                           placeholder="Your name"
                           required>
                    <p ng-show="contributeForm.formName.$invalid && !contributeForm.formName.$pristine && submitted "
                       class="help-block">
                        Please tell us your name.
                    </p>

                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea
                            type="text"
                            name="formMessage"
                            class="form-control"
                            ng-model="formData.formMessage"
                            placeholder="Write us a message..">
                        </textarea>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : contributeForm.formEmail.$invalid && !contributeForm.formEmail.$pristine && submitted}">

                    <label>E-Mail</label>
                    <input type="email"
                           name="formEmail"
                           class="form-control"
                           ng-model="formData.formEmail"
                           placeholder="email@you.com (so that we can contact you)"
                           required>
                    <p ng-show="contributeForm.formEmail.$invalid && !contributeForm.formEmail.$pristine && submitted"
                       class="help-block">
                        We tried, that doesn't seem to work.
                    </p>

                </div>
                <div class="form-group">
                    <p id="formError"
                       class="text-center bg-danger"
                       ng-show="errorShowing">
                        Uh Oh! Something went wrong. Please check the form.
                    </p>
                    <button type="submit"
                            class="btn btn-primary btn-success btn-lg center-block"
                            id="contributeSubmitButton"
                            ng-hide="submitButtonHidden">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        &nbsp Done!
                    </button>

                    <p id="formProgress"
                       class="text-center"
                       ng-show="progressMessageShowing">
                        Sending...
                    </p>
                    <p class="text-center bg-success"
                       ng-show="resultShowing"
                       style="padding: 15px; margin: 0;">
                        Success!
                    </p><!--ng-class="result" >{{ resultMessage }}< -->
                </div>


            </form>

        </div>

        <!--DEBUGGING-->
        <pre>
            {{ formData }}
        </pre>
    </div>
</div>