<!-- _contribute-addCrag.html -->
<!--
--Created by philr
--on 08/03/17
--Edited last by philr
--On 08/03/17
-->
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div id="form-container">

            <!-- Section Title -->
            <div class="page-header">
                <h2>Create New Crag</h2>
            </div>
            <hr>
            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form id="addCragForm"
                  class="form-horizontal"
                  name="addCragForm"
                  ng-submit="processForm()">
                <!-- our nested state views can be injected here -->
                <!--<div id="form-views" ui-view></div>-->


                <!--SELECT AREA-->
                <div class="form-group">
                    <label for="selectArea" class="col-sm-2 control-label">Select Area:</label>
                    <div class="col-sm-10">
                        <select name="cragArea"
                                class="form-control"
                                id="selectArea"
                                ng-model="formData.cragArea"
                                ng-options="area.id as area.name for area in areasData"
                                required>
                            <option value="">Select Area</option>
                        </select>
                    </div>
                </div>

                <!--LOCATION-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Lat/Lng Location:</label>
                    <div class="col-sm-4">
                        <input type="number"
                               name="cragLat"
                               class="form-control"
                               ng-model="formData.cragLat"
                               placeholder="Latitude: 51.600000"
                               required>
                    </div>
                    <div class="col-sm-4">
                        <input type="number"
                               name="cragLng"
                               class="form-control"
                               ng-model="formData.cragLng"
                               placeholder="Longitude: -4.150000"
                               required>
                    </div>
                </div>

                <!--CRAG NAME-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Crag Name:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               name="cragName"
                               class="form-control"
                               ng-model="formData.cragName"
                               placeholder="Crag Name"
                               required>

                    </div>
                </div>

                <!--CRAG DESCRIPTOIN-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <textarea type="text"
                                  name="cragDescription"
                                  class="form-control"
                                  ng-model="formData.cragDescription"
                                  placeholder="Description"
                                  required>
                        </textarea>

                    </div>
                </div>

                <!--OTHER DETAILS-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tidal Range:</label>
                    <div class="col-sm-2">
                        <input type="number"
                               name="cragTidalRange"
                               class="form-control"
                               ng-model="formData.cragTidalRange"
                               placeholder="Tidal Range">
                    </div>
                    <label class="col-sm-2 control-label">Orientation:</label>
                    <div class="col-sm-2">
                        <input type="text"
                               name="cragOrientation"
                               class="form-control"
                               ng-model="formData.cragOrientation"
                               placeholder="SSW"
                               required>
                    </div>
                    <label class="col-sm-2 control-label">Approach Time:</label>
                    <div class="col-sm-2">
                        <input type="number"
                               name="cragApproachTime"
                               class="form-control"
                               ng-model="formData.cragApproachTime"
                               placeholder="Time in minutes"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>

                    <div class="col-sm-2">
                        <input type="checkbox" name="seepage" value="seepage">
                        Seepage
                    </div>

                    <div class="col-sm-2">
                        <input type="checkbox" name="midges" value="midges">
                        Midges
                    </div>

                    <div class="col-sm-2">
                        <input type="checkbox" name="sheltered" value="sheltered">
                        Sheltered
                    </div>
                </div>


                <div class="form-group">
                    <p id="formError"
                       class="text-center bg-danger"
                       ng-show="errorShowing">
                        Uh Oh! Something went wrong. Please check the form.
                    </p>
                    <button type="submit"
                            class="btn btn-primary btn-success btn-lg center-block"
                            id="contributeSubmitButton"
                            ng-hide="submitButtonHidden">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        &nbsp Done!
                    </button>

                    <p id="formProgress"
                       class="text-center"
                       ng-show="progressMessageShowing">
                        Sending...
                    </p>
                    <p class="text-center bg-success"
                       ng-show="resultShowing"
                       style="padding: 15px; margin: 0;">
                        Success!
                    </p><!--ng-class="result" >{{ resultMessage }}< -->
                </div>


            </form>

        </div>

        <!--DEBUGGING-->
        <pre>
            {{ formData }}
        </pre>
    </div>
</div>