<!-- _crag-detail.html -->
<!--
--Created by philr
--on 04/03/17
--Edited last by philr
--On 04/03/17
-->

<div class="row crag-detail no-margin">
<!--
    ==========
    Page Header
    ==========
              -->
        <section class="bg-primarygrad text-center ">

            <!-- Crag Name -->
            <div class="page-header" ng-hide="loading">
                <h1>{{cragData.name}} </h1>

            </div>
            <hr>

            <!-- Crag Details -->
            <div ng-hide="loading" class="detailsSection center-block">
                <p class="text-faded">{{ cragData.description }}</p>
                <p>Area:
                    <a ui-sref="areaDetail({ areaID: cragData.area_id })">{{ cragData.AreaName }}
                    </a>
                </p>
                <p>Faces: {{ cragData.orientation }}</p>
                <p>Approach: {{ cragData.approach_time }} minutes</p>
            </div>

        </section>

<!--
    ==========
   Climbs at Crag
    ==========
              -->
        <!-- Title -->
        <div class="col-lg-6 col-lg-offset-3 climb-list">
            <h2 class="text-center">Climbs</h2>
            <hr>

            <!-- Loading Icon -->
            <!-- show loading icon if the loading variable is set to true -->
            <p class="text-center" ng-show="loading">
                <i class="fa fa-space-shuttle fa-5x fa-spin"></i>
            </p>

            <!-- Loop of Climbs -->
            <div ng-repeat="climb in climbData">
                <h3>{{ climb.name }}</h3>
                <h4>Type: {{climb.ClimbTypeName}} </h4>
                <h4>Grade: {{climb.ClimbSeverityGrade}} {{climb.ClimbTechnicalGrade}}</h4>
                <p>Description: {{ climb.description }}</p>
                <p>Length: {{ climb.length}}m</p>

                <!--Commented for Partial Deployment-->
                <!--<button type="button" class="btn btn-primary" ng-click="deleteClimb(climb.id)">Delete</button>-->
                <hr>
            </div>

            <!-- If no Climbs -->
            <div ng-show="!climbData.length" class="text-center">
                <p>No climbs are available.</p>
            </div>
        </div>

</div><!-- Row -->