<!-- _finder-header.html -->
<!--
--Created by philr
--on 04/03/17
--Edited last by philr
--On 04/03/17
-->

<!--
    ==========
    Page Header
    ==========
              -->
<section class="finder-header text-center">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Rock Advisor</h1>
            <hr>
            <h4>The Crag Finder</h4>
        </div>
        <div class="about-buttons">
            <a ui-sref=".areas" class="btn btn-primary">Area List</a>
            <a ui-sref=".crags" class="btn btn-primary">Crag List</a>
        </div>
    </div>
</section>
<!--
    ==========
  Angular Content
    ==========
              -->
<div ui-view></div>