<!-- _finder-header.html -->
<!--
--Created by philr
--on 04/03/17
--Edited last by philr
--On 08/03/17
-->

<!--
    ==========
    Page Header
    ==========
              -->
<section class="finder-header text-center bg-primarygrad">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Rock Advisor</h1>
            <hr>
            <h4>The Crag Finder</h4>
        </div>
        <div class="about-buttons">
            <a ui-sref=".areas" class="btn btn-default btn-xl sr-button">Area List</a>
            <a ui-sref=".crags" class="btn btn-default btn-xl sr-button">Crag List</a>
        </div>
        <a ui-sref="contribute" class="btn btn-default sr-button">
            Add New
        </a>
    </div>
</section>
<!--
    ==========
  Angular Content
    ==========
              -->
<div ui-view></div>