<!-- area-detail-partial.html -->
<!--
--Created by philr
--on 05/03/17
--Edited last by philr
--On 05/03/17
-->

<div class="row">
    <!-- class="row" -->
    <!-- class="col-md-8 col-md-offset-2" -->
    <!-- PAGE TITLE =============================================== -->
    <section class="bg-dark text-center">
        <div class="page-header" ng-hide="loading">
            <h1>{{areaData.name}} </h1>
        </div>

        <!-- LOADING ICON =============================================== -->
        <!-- show loading icon if the loading variable is set to true -->
        <p class="text-center" ng-show="loading">
            <i class="fa fa-space-shuttle fa-5x fa-spin"></i>
        </p>

        <!-- AREA DETAILS =============================================== -->
        <div ng-hide="loading">

            <p>{{ areaData.description }}</p>

        </div>
    </section>


    <!-- CRAGS AT AREA ============================================= -->
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Crags</h2>
        <hr>



        <div ng-repeat="crag in cragData" class="text-center">
            <a ui-sref="cragDetail({ cragID: {{crag.id}} })">
                <h3>{{ crag.name }}</h3>
            </a>



            <!--                        Commented for Partial Deployment-->
            <!--<button type="button" class="btn btn-primary" ng-click="deleteCrag(crag.id)">Delete</button>-->

        </div>

        <div ng-show="!cragData.length">
            <p>No crags are available.</p>
        </div>
    </div>

</div>
