<!-- partial-detail-crag.html -->
<!--
--Created by philr
--on 04/03/17
--Edited last by philr
--On 04/03/17
-->

<div class="row">
    <div class="col-md-8 col-md-offset-2">


        <!-- PAGE TITLE =============================================== -->
        <div class="page-header" ng-hide="loading">
            <h2>{{cragData.name}} </h2>
        </div>

        <!-- LOADING ICON =============================================== -->
        <!-- show loading icon if the loading variable is set to true -->
        <p class="text-center" ng-show="loading">
            <i class="fa fa-space-shuttle fa-5x fa-spin"></i>
        </p>

        <div ng-hide="loading">

            <p>{{ cragData.description }}</p>
            <p>Area: {{ cragData.area_id }}</p>
            <p>Faces: {{ cragData.orientation }}</p>
            <p>Approach: {{ cragData.approach_time }} minutes</p>
        </div>

    </div><!-- Boostrap Column -->
</div><!-- Row -->